.Section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.Section1 h3 {
  font-size: 2em;
  margin-bottom: 35px;
  text-align: center;
}


.Section1 hr {
  width: 200px;
  height: 2px;
  background-color: #191c03;
  margin-bottom: 70px;
  border: none;
}

.Section1 .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Section1 .grid li {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.Section1 .grid li.small {
  flex-basis: 40%;
}

.Section1 .grid li.large {
  flex-basis: 60%;
}

@media (max-width: 700px) {
  .Section1 .grid li.small,
  .Section1 .grid li.large {
    flex-basis: 100%;
  }
}
